/*
COLORS:
background: #FFF
secondary buttons/links: "blueberry" #4392F1
secondary buttons /text: "black olive" #393E41, #637F83
icons/primary buttons: "flame" #EF5728
another color: "sea blue" #006494
secondary background: #f6f6f6
*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 23px;
    margin: 0 auto;
    padding-top: 30px;
    width: 80%;
}

a {
    text-decoration: none;
    color: #4392F1;
}

a:hover {
    text-decoration: underline;
}

nav {
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav li a {
    display: block;
    font-size: 1em;
    color: #637F83;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 15px;
}

nav .active a, nav li a:hover {
    color: #fff;
    background-color: #e4551d;
}

.tutorial-section {
    margin: 20px 0;
}

.img-wrapper img{
    margin: 0 auto
}

code {
    background-color: #f5f6f7!important;
}

.code-snippet {
    display: block;
    padding: 10px;
}

.svg-canvas {
    margin: 10px 0;
}

.svg-canvas svg {
    box-shadow: 0px 0px 10px 0px #ccc;
}

footer {
    background-color: #637F83;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.svg-control {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #e1e2e2;
    color: #999;
    outline: none;
}

input[type=text].svg-control, input[type=number].svg-control {
    width: 70px;
}

.btn {
    cursor: pointer;
    padding: 10px;
    margin: 10px 0;
}

#animationCanvas {
    height: 400px;
}

#test pre, #test code {
    display: inline;
}

.question-option {
    margin-bottom: 5px;
    padding: 0.2em;
}

.question-option.correct {
    background-color: lightgreen;
}

.question-option.wrong {
    background-color: lightcoral;
}

.question-option.correct code, .question-option.wrong code {
    background-color: inherit !important;
}

#result {
    display: none;
}

#result.visible {
    display: block;
}